---
This demo is inpired by [this post](post) in keras blog.

---

First run the flask app by executing `python server.py`

The written service accepts a file and returns the prediction(probaility of being class 1) for each row in the file. For the demo, I'll use the `test_sample.csv` to send in the request.

The file `test_sample.csv` looks like this:

In [1]:
import pandas as pd
pd.read_csv('data/test_sample.csv')

,workclass_cat,education_cat,marital.status_cat,occupation_cat,relationship_cat,race_cat,sex_cat,native.country_cat,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
0,2,11,6,3,1,4,0,38,82,132870,9,0,4356,18
1,2,5,0,6,4,4,0,38,54,140359,4,0,3900,40
2,2,15,5,9,3,4,0,38,41,264663,10,0,3900,40
3,2,11,0,7,4,4,0,38,34,216864,9,0,3770,45
4,2,0,5,0,4,4,1,38,38,150601,6,0,3770,40

The function `make_me_acceptable()` in `server.py` will convert each row in the above file to the acceptable format by our model, which is loaded in the server.

In [2]:
import requests

api = "http://localhost:5000/predict"
file_path = "data/test_sample.csv"

file = open(file_path, "rb")
payload = {"file": file}


# sending a post request; file is sent in the request
req = requests.post(api, files=payload).json()


if req["success"]:
    print("Prediction for each row:\n")
    print req["prediction"]
else:
    print("Request Failed")

Prediction for each row:

[[0.7696114182472229], [0.6438499689102173], [0.6663921475410461], [0.41249844431877136], [0.6663921475410461]]